<!DOCTYPE html>
<html>

<head>
	<title>Sorry!</title>
	<link rel="stylesheet" type="text/css" href="/main.css"/>
	<script src="script.js"></script>
</head>

<body>
	<h2> Apologies <%= @name.capitalize %>, that doesn't look like a real name, try again! </h2>

</body>

</html>