<!DOCTYPE html>
<html>

<head>
	<title>Choose a charity</title>
	<link rel="stylesheet" type="text/css" href="/charitychooser.css"/>
	<script src="script.js"></script>
</head>

<body>
<div class="image">	
	<h1> Find a charity to give to </h1>
	<h3> “The simplest acts of kindness are by far more powerful then a thousand heads bowing in prayer.” ― Mahatma Gandhi </h3>

		<form name=charitychooserform>
		  	<label for="typeoforganisation"> Type of Organisation </label>
			<select name= "typeoforganisation">
				<option name=one type> Grassroots </option>
				<option name=two type> International </option>
				<option name=three type> Social Enterprise </option>
			</select>
			<label for="thecause"> The Cause </label>			
			<select name= "thecause">
				<option name=one cause> Healthcare </option>
				<option name=two cause> Education </option>
				<option name=three cause> Environment </option>
				<option name=four cause> Wildlife </option>

<!-- what is the last cause?-->

			</select>
		  <input name="Submit" type="submit" value="Submit"/>
		</form>
</div>
</body>

</html>

