<!DOCTYPE html>
<html>

<head>
	<title>Choose a charity</title>
	<link rel="stylesheet" type="text/css" href="/charitychooser.css"/>
	<script src="script.js"></script>
</head>

<body>
<div class="image">	
	<h1> Find a charity to give to </h1>
	<h3> “The simplest acts of kindness are by far more powerful then a thousand heads bowing in prayer.” ― Mahatma Gandhi </h3>

		<form role='form' method="post" action='/charitychooser' class='form-inline'>
		  	<label for="typeoforganisation"> Type of Organisation </label>
			<select name= "typeoforganisation">
				<option name=Local> Local </option>
				<option name=International> International </option>
			</select>
			<label for="thecause"> The Cause </label>			
			<select name= "thecause">
				<option name=Healthcare> Healthcare </option>
				<option name=Education> Education </option>
				<option name=Environment> Environment </option>
				<option name=Wildlife> Wildlife </option>
			</select>
		  <input name="Submit" type="submit" value="Submit"/>
		</form>
</div>
</body>

</html>

