<!DOCTYPE html>
<html>

<head>
	<title>Email your loved one</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<body>
	<h1> Email your loved one </h1>
	<h3> If you've already donated, fill in these details and we'll send an email from you to your loved one letting them know about your donation </h3>

		<div class='container'>
		    <form method="post" action='/email'>
		       	<input type='text' name='user_name' placeholder="What's their name?">
		       	<input type='text' name='email_address' placeholder="Their email address">
		       	<input type='text' name='chosen_charity' placeholder='The chosen charity'>	
				<button type='Enter'>...And send!</button>
			</form>
		</div>

</body>

</html>