<!DOCTYPE html>
<html>

<head>
	<title>Welcome to Christmas</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<body>
	<h1> Christmas Love </h1>
	<h3> Christmas Love was created to encourage and help people to donate this Christmas, especially as a gift to a loved one. We'll help you to choose a charity and then if you'd like we can send an email to your loved one letting them know the charity you've donated to. We hope you feel the spirit of giving this Christmas! </h3>
		<div class='container'>
		    <form method="post" action='/'>
		       	<input type='text' name='user_name' placeholder="What's your name?">

				<button type='Enter'>Let's go</button>
			</form>
		</div>

</body>

</html>