<!DOCTYPE html>
<html>

<head>
	<title>Welcome to Christmas</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<body>
	<h1> Christmas love </h1>

		<div class='container'>
		    <form method="post" action='/'>
		       	<input type='text' name='user_name' placeholder="What's your name?">

				<button type='Enter'>Let's go</button>
			</form>
		</div>

</body>

</html>