<!DOCTYPE html>
<html>

<head>
	<title>Grassroots Environment</title>
	<link rel="stylesheet" type="text/css" href="/charity.css"/>
</head>

<body>
	<h1> Choose a charity </h1>
	<h3>By clicking on the image, you will be directed to the charity donation page. After you've donated, come back to our website and we'll send an email from you to the person in whose name you're donating.

	Let your friend know you've donated!
	
	<form role='form' method="get" action='/email' class='form-inline'>
	<button type="submit" class='btn btn-success' >Email Friend</button>
	</form>	

	<div class="container">
		<div class="row">
			<div class="col-xs-5"><p><a href="http://www.snowdonia-society.org.uk/index2.php?id=2"><span>The Snowdonia Society </span> is a registered charity working to protect, enhance and celebrate Snowdonia, its wildlife and heritage. The Society works with local communities, organisations and businesses to achieve this vision.</a></p></div>
			<div class="col-xs-1"></div>			
			<div class="col-xs-5"><p><a href="http://www.rspb.org.uk/joinandhelp/donations/campaigns/hen-harrier-appeal/index.aspx">With a history going back to 1889, <span>The Royal Society for the Protection of Birds </span>focus on conserving the UK's wildlife and restoring and protecting its natural habitats</a></p></div>
		</div>
	</div>
</body>

</html>