<!DOCTYPE html>
<html>

<head>
	<title>Grassroots Education</title>
	<link rel="stylesheet" type="text/css" href="/charity.css"/>
</head>

<body>
	<h1> Choose a charity </h1>
	<h3>By clicking on the image, you will be directed to the charity donation page. After you've donated, come back to our website and we'll send an email from you to the person in whose name you're donating.
	<div class="container">
		<div class="row">
			<div class="col-xs-5"><p><a href="http://www.shinetrust.org.uk/support-us/donate/">SHINE helps disadvantaged children and teenagers to recognise and then realise their academic potential. They fund and develop educational projects that provide the extra teaching and encouragement needed.</a></p></div>
			<div class="col-xs-1"></div>			
			<div class="col-xs-5"><p><a href="http://www.tlg.org.uk/web/supportUs">TLG The Education Charity believes that education is a basic human right and aims to provide a second chance to all children and young people who have been excluded from school or who are at a crisis point in their education and provide that opportunity.</a></p></div>
		</div>
	</div>
</body>

</html>