<!DOCTYPE html>
<html>

<head>
	<title>Choose a Charity</title>
	<link rel="stylesheet" type="text/css" href="/charity.css"/>
</head>

<body>
	<h1> Choose a charity </h1>
	<h3>By clicking on the image, you will be directed to the charity donation page. After you've donated, come back to our website and we'll send an email from you to the person in whose name you're donating.
	<div class="container">
		<div class="row">
			<div class="col-xs-5"><p><a href="www.google.com">this charity is blah blah and helps this, we especially love that they do this</a></p></div>
			<div class="col-xs-1"></div>			
			<div class="col-xs-5"><p><a href="www.google.com">this charity is blah blah and helps this, we especially love that they do this</a></p></div>
		</div>
	</div>
</body>

</html>