<!DOCTYPE html>
<html>

<head>
	<title>A Christmas of Giving</title>
	<link rel="stylesheet" type="text/css" href="/mainpage.css"/>
	<script src="script.js"></script>
</head>

<body>

	<h1> A Christmas of Giving </h1>
	<ul>
		<li><a href="/charitychooser.erb">Choose a Charity</a></li>
		<li>Secret Santa</li>
	</ul>
	<div style="float:right; clear:both" class="row">
		<div>Hello <%= @name.capitalize %>...</div>
		<div>We made this web app to make it easy <br> for people to give during Christmas</div>
	</div>

</body>

</html>

