<!DOCTYPE html>
<html>

<head>
	<title>A Christmas of Giving</title>
	<link rel="stylesheet" type="text/css" href="/mainpage.css"/>
	<script src="script.js"></script>
</head>

<body>

	<div style="float:right; clear:both" class="row">
		<div>Hello <%= @name.capitalize %>!</div>
		<div> We're so glad you're here. <br> Try out our charity chooser and maybe <br> send an email to your loved one!</div>
	</div>

	<h1> A Christmas of Giving </h1>
	<ul>
		<li><a href="/charitychooser">Choose a charity</a></li>
		<li><a href="/email">Send an email</a></li>
	</ul>

</body>

</html>
