<!DOCTYPE html>
<html>

<head>
	<title>International Education</title>
	<link rel="stylesheet" type="text/css" href="/charity.css"/>
</head>

<body>
	<h1> Choose a charity </h1>
	<h3>By clicking on the image, you will be directed to the charity donation page. After you've donated, come back to our website and we'll send an email from you to the person in whose name you're donating.

	Let your friend know you've donated!
	
	<form role='form' method="get" action='/email' class='form-inline'>
	<button type="submit" class='btn btn-success' >Email Friend</button>
	</form>	

	<div class="container">
		<div class="row">
			<div class="col-xs-5"><p><a href="http://www.unicef.org.uk/Donate/donate-now/"><span>Unicef's </span>goal is to give every child the best possible start in life, whether that means immunising them against deadly diseases or making sure they can go to school.</a></p></div>
			<div class="col-xs-1"></div>			
			<div class="col-xs-5"><p><a href="http://www.careinternational.org.uk/donate-and-help-end-poverty"><span>CARE </span>believes that everyone has a right to basic education and work with individuals, governments and partner organisations to address all aspects of basic education</a></p></div>
		</div>
	</div>
</body>

</html>