<!DOCTYPE html>
<html>

<head>
	<title>International Environment</title>
	<link rel="stylesheet" type="text/css" href="/charity.css"/>
</head>

<body>
	<h1> Choose a charity </h1>
	<h3>By clicking on the image, you will be directed to the charity donation page. After you've donated, come back to our website and we'll send an email from you to the person in whose name you're donating.
	<div class="container">
		<div class="row">
			<div class="col-xs-5"><p><a href="https://support.nature.org/site/Donation2?10420.donation=form1&df_id=10420&intc=nature.tnav.button">The Nature Conservancy is working to conserve the lands and waters on which all life depends</a></p></div>
			<div class="col-xs-1"></div>			
			<div class="col-xs-5"><p><a href="https://www.nrdc.org/joingive/Default.asp">The NRDC is an environmental action group working to safeguard the earth — its people, its plants and animals, and the natural systems on which all life depends.</a></p></div>
		</div>
	</div>
</body>

</html>