<!DOCTYPE html>
<html>

<head>
	<title>THANKS FOR DONATING</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<body>
	<h1>Thanks for donating! Your email is on its way! </h1>

</body>

</html>